<div class="container">

<table class="table table-striped table-hover table-responsive hidden-xs hidden-sm">
  <thead class="thead-inverse">
    <tr>
      
      <th>Offer code</th>
      <th>Price</th>
      <th>Manufacturer</th>
      <th>Description</th>
      <th>In stock</th>
    </tr>
    <tr>
      <td>Search :</td> 
      <td colspan="4"> 
          <input class="searchBox" type="text"/>
          <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
          </span>
       </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let phone of pagedPhoneList; let i = index" [attr.data-index]="i" [class.notavailable]="phone.outOfStock">
      
      <td class="smallTd">{{phone.offercode}}</td>
      <td>{{phone.priceFrom}}</td>
      <td>{{phone.manufacturer}}</td>
      <td>{{phone.description}}</td>
      <td><input type="checkbox" [(ngModel)]="!phone.outOfStock"/></td>
    </tr>
   <tr>
     <td colspan="3" id="previousLink" (click)="previousPage()">&lt;&lt; Previous</td>
     <td colspan="2" id="nextLink" (click)="nextPage()">Next &gt;&gt;</td>
   </tr>
  </tbody>
</table>

<div class="row hidden-lg hidden-xl hidden-md">
  
    <h1>Our phones !</h1>
    <h3>Phones available:</h3>
    <ul>
      <div class="row">
        <div class="col-sm-2">#</div>
        <div class="col-sm-2 hidden-xs">Offer code</div>
        <div class="col-sm-8">Phone description</div>
      </div>  

      <li *ngFor="let phone of phoneList; let i = index" [attr.data-index]="i">
      <div class="row">
        <div class="col-sm-2">{{i}}</div>
        <div class="col-sm-2 hidden-xs">{{phone.offercode}}</div>
        <div class="col-sm-8">{{phone.description}}</div>
        
      </div>
      </li>
    </ul>

    <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>

</div>
</div>