
h1 {
     font-size: 24px;
}

.paddingLink {
    width: 10%;
}

#previousLink, #nextLink {
    width: 40%;
    color:darkblue;
}

#previousLink:hover, #nextLink:hover {
    color:lightblue;
    cursor: pointer;
}

#previousLink {
    text-align:left;
}

#nextLink {
    text-align:right;
}

.smallTd {
    width:10%;
}

.notavailable {
    background-color: blueviolet;
}

.searchBox {
    width:90%;
    height: 36px;
    margin:10px 10px 0 0;
    padding: 0;
    float:left;
}

.input-group-btn {
    padding-top:11px;
}

.btnImg {
    background: url("../assets/images/thumbSmartphone.jpg") no-repeat;
    height: 64px;
    width:33px;
    padding: 0 0 0 0;
    border: none;
}